.DS_Store
.ipynb_checkpoints
/python01-beginners/.ipynb_checkpoints
/python01-beginners/.ipynb_checkpoints/01-hello-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/02-basics-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/03-functions-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/04-exceptions-iteration-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/05-practice-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/06-modules-dates-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/07-files-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/08-strings-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/09-module-practice-checkpoint.ipynb
/python01-beginners/.ipynb_checkpoints/10-test-solutions-checkpoint.ipynb
